.zoom-hover-button:hover {
    transform: scale(1.05);
    border-color: #388e3c; /* slightly darker green */
}

.user:hover {
    background-color: #388e3c;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}